{% extends 'base_layout.html' %}

{% block content %}
<body>
        <header>
          <h1>Profile</h1>
          <h2 class="flow=text">Welcome to your station traveler</h2>
          <ul>
            <li><a href="{% url 'accounts:edit_profile' %}">Edit Profile</a></li>
            <li><a href="{% url 'accounts:logout' %}">Logout</a></li>
        </ul>

        </header>

        <form action="." method="POST"  class="padding">
          {% csrf_token %} {{ noodle_form.as_p }}
          <div class="divider"></div>
            {{ formset.managment_form }}
            {{ formset.as_p }}
            <div class="profilepicture>
                <img src="{{ user.profile.image.url }}" width="240" align="center" >
            </div>
            <main>

            <ul>
              <li>Username: {{ user }}</li>
              <li>first_name: {{ user.first_name }}</li>
              <li>last_name: {{ user.last_name }}</li>
              <li>email: {{ user.email }}</li>
              <li>Bio: {{ user.profile.bio }}</li>
              <li>birth date: {{ user.profile.birth_date }}</li>
            </ul>
            </main>
        </form>
</body>

{% endblock %}
