{% extends 'base_layout.html' %}

{% block content %}
  <title>Profile</title>

<div class="col s12 m8 offset-m2">
    <div class="card">
      <div class="card-content">
      <h2 class="flow=text">welcome to your station travler</h2>
        <form action="." method="POST"  class="padding">
          {% csrf_token %} {{ noodle_form.as_p }}
          <div class="divider"></div>
          {{ formset.managment_form }}
            {{ formset.as_p }}
            <div class="container" style="margin:0 auto">
                <img src="{{ user.profile.image.url }}" width="240" align="middle" >
            </div>
            <p>Username: {{ user }}</p>
            <p>first_name: {{ user.first_name }}</p>
            <p>last_name: {{ user.last_name }}</p>
            <p>email: {{ user.email }}</p>
            <p>Bio: {{ user.profile.bio }}</p>
            <p>birth date: {{ user.profile.birth_date }}</p>
            <br>
            <br>
            <ul>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'accounts:logout' %}">Logout</a></li>
            </ul>
        </form>

      </div>

    </div>

</div>

{% endblock %}
