body{
    background-color: ##280045;
    background-image: url(/static/cyber_city.png);
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
    justify-content: center;
    align-items: center;
}

body *{
    font-family: Ubuntu;
}

h1, h2, h3, h4, h5{
    font-family: Ubuntu;
    font-weight: normal;
    margin: 0;
}

a, a:hover, a:visited{
    color: #fff;
    text-decoration: none;
}


.wrapper img{
    position: relative;
    right: 350px;
}

.wrapper{
    max-width: 960px;
    margin: 0 auto;
}

div.wrapper > h1{
    position: relative;
    text-align: center;
    margin: 70px auto;
    font-size:3em;
    font-style:bold;
}

header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px 0;
}

nav{
    justify-self: end;
}

nav li{
    display: inline-block;
    list-style-type: none;
    margin-left: 20px;
}

nav button{
    background: none;
    color: #fff;
    cursor: pointer;
    border: 0;
    font-size: 16px;
}

.wrapper a[href*="signup"]{
  padding: 7px;
  color: #0f121f;
  background-color: #00dba0;
  border-radius: 5px;
}

.wrapper a[href*="signup"]:hover{
  color: #ffffff;
  background-color: #0f121f;
}

.wrapper nav a{
  position: relative;
  left: 250px;
}

.articles{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
}

.article{
    padding: 10px;
    border: 1px solid #00dba0;
    position: relative;
    padding-bottom: 40px;
}

.article h2{
    font-size: 1.2em;
}

.article .author{
    padding: 10px;
    background: #00dba0;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0;
    color: #0f121f;
}

.article-detail .article{
    padding: 0;
}

.article-detail  .article img{
    max-width: 100%;
}

.article-detail  .article h2{
    text-align: center;
    margin: 20px auto;
    font-size: 2em
}

.article-detail .article h3{
    text-align: center;
}

.article-detail  .article p{
    margin: 10px 20px;
}

.article-detail .article p{
    text-align: center;
}


.site-form
{
    margin-top: 60px;
    border: 1px solid #00dba0;
    padding: 20px
}

.site-form input, site-form textarea{
  display: block;
  margin: 20px 0 0 0;
  padding: 10px;
}

a.highlight{
    border: 1px solid #00dba0;
    padding: 10px;
    border-radius: 4px;
}

.helptext, helptext ul{
    margin: 0 auto 20px;
    color: #bbb;
    font-size: 0.9em;
    display: block;
}

.errorlist li{

    padding: 10px;
    list-style-type: none;
    border: 1px solid #ff5722;
    color: #ff5722;
    margin: 10px 0;
}

.errorlist{
    padding: 0;
}

.site-form input[type="submit"]{
    background: #00dba0;
    border: 0;
    color: #ffff343;
    font-size: 20px;
    border-radius: 4px;
    margin: 10px 0;
}

.site-form button{
    padding: 10px;
    background: #0f121f;
    border: 1px solid #00dba0;
    color: #00dba0;
    font-size: 20px;
    border-radius: 4px;
    margin: 10px 0;
}

.about h1{
  font=font-family: Ubuntu;
  font-weight: bold;
  text-align: center;
  margin: 80px auto;
  font-size: 50px;
}

.about p{
  margin-left: 100px;
  margin-right: 100px;
  font-size: 25px;
  padding: 10px;
  border: 3px solid #00dba0;
}

.signup h2{
  text-align: center;
  font-weight: bold;
  margin: 80px auto;
  font-size: 30px;
}


.welcome h1{
  font-family: Alata;
  text-align: center;
  font-size: 100px;
  color: #dbdbdb;
}

.articlelist a{
  color: #00dba0;
  font-family: Ubuntu;
  font-size: 50px;
  text-align: center;
  padding: 15px;
  background-color: #0f121f;
  border-radius: 5px;
  margin-left: 320px;
  margin-right: 320px;
  position: relative;
  top: 150px;

}

.articlelist a:hover{
  color: #1b3a85;
  background-color: #191a19;
}


.nova{

  font-size: 110px;
  font-family: Raleway;
  font-weight: bold;
  color: #d600ff;
  background: linear-gradient(90deg, #0024d7, #0052ae, #2c00ea, #5500ea, #830546, #460374, #0547a6, #0524a6);
  background-size: 1000% 1000%;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 29s ease infinite;
animation: hue 29s ease infinite;

}

@-webkit-keyframes hue {
   0%{background-position:0% 53%}
   50%{background-position:100% 48%}
   100%{background-position:0% 53%}
}
@keyframes hue {
   0%{background-position:0% 53%}
   50%{background-position:100% 48%}
   100%{background-position:0% 53%}
}
