{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>About</title>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>
    <body>
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
        <h1>About</h1>
        <p>Hi. We are two guys from a less known city of a dystopian country, while we're not lost and consumed by the sheer pressure of human survival,
        we smoke and create stuff, in the hope of finding the long lost peace that we all crave, along the way. </p>
    </body>
</html>
