{% extends 'base_layout.html' %}
{% load static %}

{% block content%}

<body>
  <header>
    <div class="topnav">
          <a href="/about/" class="about">About</a>
            {% if user.is_authenticated %}

                <form class="logout-link" action="{% url 'accounts:logout' %}" method="post">
                  {% csrf_token %}
                  <button type="submit">Logout</button>
                </form>

               <a href="{% url 'articles:create' %}" class="highlight">New Article</a>
               <a href="{% url 'accounts:profile' %}">Profile</a>
            {% else %}
               <a href="{% url 'accounts:login' %}" class="loginbutton">Login</a>
               <a href="{% url 'accounts:signup' %}" class="signupbutton">Signup</a>

            {% endif %}
            <div class="search-container">
              <form action="{% url 'search:searcharticles' %}" method="GET" value="{{request.GET.q}}">
              <input type="text" name="q" value="{{request.GET.q}}" placeholder="Search Playlists"/>
              <button type="submit" name="button" value="Search"><i class="material-icons">search</i></button>
              </form>


              {% if submitbutton == 'Search' and request.GET.q != '' %}
              {% if results %}
              <h1>Results for <b>{{ request.GET.q }}</b></h1>
              <br/><br/>

              {% for result in results %}

              {{result.title}}
              <br/>

              {{result.content}}
              <br/>

              {% endfor %}
              {% else %}
              its not the end of world
              {% endif %}
              {% endif %}
            </div>
    </div>
  </header>

      <div class="welcome">
        <h1>Welcome to <a class="nova" href="{% url 'home'%}">NOVA</a></h1>
        <p class="articlelist"> <a href="{% url 'articles:list' %}">Playlists</a></p>

      </div>
    </body>
{% endblock %}
